.container {
    display: flex;
    flex-direction: row;
}
.image {
    width: 55px;
}
.text {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    padding-left:10px;
}

.name {
    font-size: 21pt;
    font-weight: 700;
    color:#3BB77E
}

.tagline {
    text-transform: uppercase;
    font-weight: 500;
    color: #ADADAD;
}
